<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'index' %}">
        Learning - 
    </a>
    <a href="{% url 'topics' %}">
        Topicos
    </a>
    {% if user.is_authenticated %}
        Olá, {{user.username}}
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}


{% block content %}{% endblock content %}

<footer>

<p>machadopy®</p>

</footer>
</body>

    
</body>
</html>