{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}


{% block header %}

    <h1>
        <p>
            <a href="{% url 'topic' topic.id %}">{{topic}}</a>
        
        
        </p>
    </h1>
    




{%endblock header%}

{% block content %}

    <div class="py-0 my-0">
        <style>
        .py-5.text-center.mb-1 {
        
        text-align: left !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
        
        }
        </style>
    
    
        <h4>
            Nova Anotação
        </h4>
    
    
    </div>





<form action="{% url 'new_entry' topic.id %}" method="post" form="">


    {% csrf_token %}
    {% bootstrap_form form %}


    <button type="submit" class="btn btn-primary">Adicionar</button>







    

</form>

{% endblock content %}